
body{    margin:0;
    background-color:rgba(5,5,20,1);
}
header{
    background-color:rgba(5,5,20,1);
    margin:0;
    padding: 10px 10px;
    display:flex;
    flex-direction:row;
    align-items:center ;
    justify-content:space-between;
    top:0;
    left:0;
    width:100%;
    position:fixed;
    z-index:7;
    box-shadow:0 0 55px 5px rgba(230,255,200,0.8);
    box-sizing: border-box;
    height: 65px;
}
#A{
    margin:7px;
    color:rgba(230,255,200,0.8);
    font-family: sans;
    
}
#menu{
    width:40px;
    height:40px;
    display:flex;
    flex-direction:column;
    gap:4px;
    align-items:center;
    margin:5px;
    justify-content:center;
    
    
}
span{
    width:25px;
    height:4px;
    background-color:rgba(230,255,200,0.8);
    border-radius:2px;
}
.fas{
    color:rgba(230,255,200,0.8);
    font-size:22px;
    margin-top:3px;
}
header div{
    display:flex;
    flex-direction:row;
    justify-content:center ;
    align-items:center ;
    gap:10px;
}


#p1{
    width:100vw;
    position:fixed;
    top:65px;
    left:0;
    
}
#cun{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    
}
#b{
    color:white;
    font-size:33px;
    text-align:center;
    font-weight:bolder ;
    text-shadow:2px 2px 3px black;
    margin-bottom:15px;
    scale:1 2;
    
    
}

#about {
    background-color: rgba(5, 5, 20, 1);
    margin-top: -20px;
    z-index: 4;
    position: relative;
    min-height: 120vh;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    margin-top:31vh;
    padding:18px;
    direction:rtl;
    color:rgba(230,255,230,0.7);
    font-weight:600;
    font-size:18px;
    background-size:100%;
    box-shadow:0 0 15px 1px rgba(230,255,200,0.8);
    display:flex;
    flex-direction:column;
    align-items:center ;
    text-align:center ;
    gap:15px;
    padding-top:30px;
    
    
}
h2{
    text-align:center;
    color:rgba(230,255,200,0.8);;
}
#p2{
    width:100vw;
    margin:0;
}
footer{
    background-color:rgba(5,5,20,1);
    height:150px;
}
#hero {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: 27vh; /* לדוגמה — גובה רספונסיבי */
    background-image: url("/files/index/p1.jpg");
    background-size: cover;
    background-position: center;
}
.side-menu{
    width: 290px;
    max-width: 400px;
    position: fixed;
    z-index: 6;
    background-color:rgba(5, 5, 20, 1);
    height: 100dvh;
    top:65px;
    border-radius: 35px 0px;
    transition: 0.5s;
    overflow: hidden;
    box-shadow:0 0 55px 5px rgba(230,255,200,0.8);
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    direction: rtl;
    touch-action: none;
    
    
}
.side-menu a{
    background-color: rgba(255,255,255,0.2);
    padding: 10px 25px;
    color: rgb(230,255,200,0.8);
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    z-index: 6;
    display:flex;
    flex-direction:row;
    align-items:center ;
    justify-content:space-between;
    direction: ltr;
    
}
#os{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    right:0px;
    pointer-events: none;
    opacity: 0;
    z-index: 5;
    transition: 0.6s;
    
}
#cm{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}