body {
    margin:0;
    background-color:rgba(5,5,20,1);
}
header{
    background-color:rgba(5,5,20,1);
    margin:0;
    height:65px;
    display:flex;
    flex-direction:row;
    align-items:center ;
    justify-content:space-between;
    top:0;
    left:0;
    width:100vw;
    position:fixed;
    z-index:6;
    box-shadow:0 0 55px 5px rgba(230,255,200,0.8);
}
#A{
    margin:7px;
    color:rgba(230,255,200,0.8);
    
}
#menu{
    width:40px;
    height:40px;
    display:flex;
    flex-direction:column;
    gap:4px;
    align-items:center;
    margin:15px;
    justify-content:center;
    
    
}
span{
    width:25px;
    height:4px;
    background-color:rgba(230,255,200,0.8);
    border-radius:2px;
}
.fas{
    color:rgba(230,255,200,0.8);
    font-size:22px;
    margin-top:3px;
}
header div{
    display:flex;
    flex-direction:row;
    justify-content:center ;
    align-items:center ;
    gap:10px;
}

#p1{
    width:100vw;
    top:65px;
    left:0;
    position:fixed;

    
}
#cun{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    
}
#b{
    color:white;
    font-size:33px;
    text-align:center;
    font-weight:bolder ;
    text-shadow:2px 2px 3px black;
    margin-bottom:15px;
    scale:1 2;
    
    
}

#about {
    background-color: rgba(5, 5, 20, 1);
    margin-top: -20px;
    z-index: 5;
    position: relative;
    min-height: 120vh;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    margin-top:255px;
    padding:18px;
    direction:rtl;
    color:rgba(230,255,230,0.7);
    font-weight:600;
    font-size:18px;
    background-size:100%;
    box-shadow:0 0 15px 1px rgba(230,255,200,0.8);
    display:flex;
    flex-direction:column;
    align-items:center ;
    text-align:center ;
    gap:15px;
    padding-top:30px;
    
    
}
h2{
    text-align:center;
    color:rgba(230,255,200,0.8);;
}
#p2{
    width:100vw;
    margin:0;
}
footer{
    background-color:rgba(5,5,20,1);
    height:150px;
}
